@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/
/*** RESET *********************************************************************************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************************************************************************************************************/



body { font-family: 'Open Sans', 'Roboto', sans-serif; /* 'Open Sans', 'Roboto', Helvetica, Arial, sans-serif; /* 'Roboto', 'Helvetica Neue',  */
        padding-left:4%; 
        padding-right:4%; 
        padding-top:1em;
        padding-bottom:3em; 
        max-width: 38em;
        margin: 0 auto 0 auto;
        line-height: 1.2em;

        background-color: #FFF;

        border-right: 1px #F0F0F0 solid;
        border-left: 1px #F0F0F0 solid;
} 

html {background-color:#F7F7F7;}

h1, h2 {color:#000; line-height: 1.2em;}

p,ul,h2 {
    margin: 1em 0 0em 0;
}  
h1 {
    margin: 1em 0 0.6em 0;
    
}

b {
    font-weight: 600;
    /*letter-spacing: 0.5px;*/
}

li {
    list-style-type: square;
    margin-left:2em;
    padding-left: 0.25em;

    }         

li.p {
        margin-bottom:1em;

}    
h1, h2 { 
    /*font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; */

    
    }
    h1 { font-size:2.5em; margin-left:-1pt;}
    h2 { font-size:1.5em;}